In [4]:
import pandas as pd
data = pd.read_csv('rubrics.csv')
data.head()

   rubric_id        rubric_name
0      30519  Булочная, пекарня
1      30770           Бар, паб
2      30771    Быстрое питание
3      30774               Кафе
4      30775           Пиццерия